<div class="flex justify-center">
  <div class="w-full max-w-sm">
    <div class="bg-white shadow-lg rounded-lg pt-12 px-8 pb-8 mb-8">
      <h1 class="font-semibold text-2xl leading-none mb-6 text-center">Change your password</h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="mb-6">
          <%= f.label :password, "New password", class: "c-form__label" %>
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "c-form__field" %>
          <% if @minimum_password_length %>
            <em class="c-form__help-text">(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>

        <div class="mb-6">
          <%= f.label :password_confirmation, "Confirm new password", class: "c-form__label" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "c-form__field" %>
        </div>

        <div class="actions pt-2">
          <%= f.submit "Change my password", class: "c-btn c-btn--blue w-full" %>
        </div>
      <% end %>
    </div>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
