<nav class="flex flex-no-shrink bg-white border-b border-white py-6 items-center">
  <div class="w-full h-8 px-6 lg:px-12 flex items-center justify-between flex-wrap">
    <div class="w-full block flex-grow lg:flex lg:items-center lg:justify-end lg:w-auto" id="navbarMain">
      <ul class="lg:flex lg:items-center list-reset font-medium">
        <li class="lg:ml-8"><%= link_to "What's New", announcements_path, class: "no-underline text-grey-darker hover:text-grey-darkest #{unread_announcements(current_user)}" %></li>
        <li class="lg:ml-8">
          <%= link_to notifications_path, class: "flex items-center block no-underline text-grey-darker hover:text-grey-darkest" do %>
            <svg class="fill-current h-5 w-5 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 15l-4 4v-4H2a2 2 0 0 1-2-2V3c0-1.1.9-2 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-8zM5 7v2h2V7H5zm4 0v2h2V7H9zm4 0v2h2V7h-2z"></path></svg>
          <% end %>
        </li>

        <li class="lg:ml-4 relative c-dropdown">
          <%= link_to "#", id: "navbar-dropdown", class: "flex items-center block no-underline text-grey-darker hover:text-grey-darkest dropdown-toggle", data: { toggle: "dropdown" }, aria: { haspopup: true, expanded: false } do %>
            <%= image_tag gravatar_image_url(current_user.email, size: 64), height: 32, width: 32, class: "rounded-full" %>
            <svg class="fill-current h-4 w-4 ml-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
          <% end %>
          <div class="c-dropdown__menu dropdown-menu-right absolute pin-r z-10 bg-white font-normal text-sm rounded shadow-md w-48 py-1" aria-labelledby="navbar-dropdown">
            <% if current_user.admin? %>
              <%= link_to "Admin Area", admin_root_path, class: "dropdown-item block text-grey-darker hover:text-grey-darkest hover:bg-grey-lighter no-underline px-4 py-2" %>
            <% end %>
            <%= link_to "Settings", edit_user_registration_path, class: "dropdown-item block text-grey-darker hover:text-grey-darkest hover:bg-grey-lighter no-underline px-4 py-2" %>
            <div class="dropdown-divider border-b border-grey-lighter"></div>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "dropdown-item block text-grey-darker hover:text-grey-darkest hover:bg-grey-lighter no-underline px-4 py-2" %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
