<%%= form_with(model: <%= model_resource_name %>, local: true) do |form| %>
  <%% if <%= singular_table_name %>.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(<%= singular_table_name %>.errors.count, "error") %> prohibited this <%= singular_table_name %> from being saved:</h2>

      <ul>
      <%% <%= singular_table_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

<% attributes.each do |attribute| -%>
  <div class="mb-6">
<% if attribute.password_digest? -%>
    <%%= form.label :password, class: "c-form__label" %>
    <%%= form.password_field :password, class: "c-form__field" %>
  </div>

  <div class="mb-6">
    <%%= form.label :password_confirmation, class: "c-form__label" %>
    <%%= form.password_field :password_confirmation, class: "c-form__field" %>
<% else -%>
    <%%= form.label :<%= attribute.column_name %>, class: "c-form__label" %>
    <%%= form.<%= attribute.field_type %> :<%= attribute.column_name %>, class: "c-form__field" %>
<% end -%>
  </div>

<% end -%>
  <div class="flex flex-wrap items-center">
    <%%= form.submit class: "c-btn c-btn--blue" %>

    <%% if <%= model_resource_name %>.persisted? %>
      <%%= link_to "Cancel", <%= model_resource_name %>, class: "c-btn c-btn--grey ml-4" %>
    <%% else %>
      <%%= link_to "Cancel", <%= index_helper %>_path, class: "c-btn c-btn--grey ml-4" %>
    <%% end %>

    <%% if <%= model_resource_name %>.persisted? %>
      <div class="float-right">
        <%%= link_to 'Destroy', <%= model_resource_name %>, method: :delete, class: "c-btn--link ml-4", data: { confirm: 'Are you sure?' } %>
      </div>
    <%% end %>
  </div>
<%% end %>
