<% name_attribute = attributes.find{ |a| a.name == "name" } %>
<% has_name = !!name_attribute %>

<div class="flex justify-center">
  <div class="w-full max-w-xl2">
    <h1 class="font-semibold text-3xl lg:text-4xl xl:text-5xl leading-none my-6"><%= plural_table_name.capitalize %></h1>
    <div class="table-responsive">
      <table class="w-full border-collapse text-left mb-8">
        <thead class="font-medium text-sm leading-loose">
          <tr class="border-b border-grey-lighter">
        <% if has_name %>
            <th class="px-6 py-4 align-middle">Name</th>
        <% end %>

        <% attributes.without(name_attribute).each do |attribute| -%>
            <th class="px-6 py-4 align-middle"><%= attribute.human_name %></th>
        <% end -%>
            <% unless has_name %>
              <th class="px-6 py-4 align-middle"></th>
            <% end %>
          </tr>
        </thead>

        <tbody>
          <%% @<%= plural_table_name%>.each do |<%= singular_table_name %>| %>
            <%%= content_tag :tr, id: dom_id(<%= singular_table_name %>), class: "#{dom_class(<%= singular_table_name %>)} border-b border-grey-lighter" do %>
              <% if has_name %>
                <td class="px-6 py-4 align-middle"><%%= link_to <%= singular_table_name %>.name, <%= singular_table_name %> %></td>
              <% end %>

              <% attributes.without(name_attribute).each do |attribute| -%>
                <td class="px-6 py-4 align-middle"><%%= <%= singular_table_name %>.<%= attribute.name %> %></td>
              <% end -%>

              <% unless has_name %>
                <td class="px-6 py-4 align-middle"><%%= link_to 'Show', <%= singular_table_name %>, class: "c-btn c-btn--grey c-btn--sm" %></td>
              <% end %>
            <%% end %>
          <%% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
