<!DOCTYPE html>
<html class="w-full h-full">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="w-full h-full font-sans text-black leading-normal bg-grey-lightest">
    <div class="flex flex-col items-stretch min-h-full">
      <%= render 'shared/navbar' %>
      <%= render 'shared/notices' %>

      <main class="flex-grow flex-no-shrink w-full max-w-3xl mx-auto pt-24 px-6 pb-16">
        <%= yield %>
      </main>

      <%= render 'shared/footer' %>
    </div>
  </body>
</html>
